<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>USER Dashboard</title>
    <!-- Include your CSS and other head content here -->
</head>

<body>

    <div class="main-content">
        <!-- <div>Click here to see all students:</div> -->

        <div>Click here to view all bookings:</div>
        <form th:action="@{/bookingview}" method="get">
            <button type="submit" class="btn btn-default">View Bookings</button>
        </form><br><br>
    </div>

    <!-- Logout Link -->
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-default">Logout</button>
    </form>

    <!-- Include your scripts here -->

</body>

</html>
