<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Booking</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">

</head>

<body>
    <!-- back button to dashboard (to login mapping which should redirect to dashboard)-->
    <div class="container dashheader">
        <form th:action="@{/login}" method="post">
            <button type="submit" class="dashbutton">Back to Dashboard</button>
        </form>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1 class="">Edit Booking</h1>
                <form th:action="@{/user/editbooking/{bid}(bid=${booking.bid})}" method="post">

                    <div class="mb-3">

                        <input type="text" id="name" name="name" class="form-control form-control-lg"
                            th:value="${booking.student.name}" placeholder="Name" disabled>
                    </div>

                    <label for="date">Date:</label>
                    <input type="date" id="date" name="date" th:value="${booking.date}" required> <br>

                    <label for="startTime">Start Time:</label>
                    <input type="time" id="startTime" name="startTime" required> <br>

                    <label for="endTime">End Time:</label>
                    <input type="time" id="endTime" name="endTime" required> <br> <br>

                    <!-- <div class="mb-3">
                        <input type="startTime" id="startTime" name="startTime" class="form-control form-control-lg"
                            th:value="${student.weight}" placeholder="Weight" required>
                    </div> -->


                    <!-- submit button -->
                    <div class="d-grid gap-2">
                        <input class="dashbutton" type="submit" value="Submit"></input>
                    </div>
                </form>


                <!-- back button -->
                <form action="/user/bookingview">
                    <div class="d-grid gap-2">
                        <input class="dashbutton" type="submit" value="Back to Dashboard"></input>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>
