<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OWNER Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">

</head>

<body>

    <div class="">
        <!-- logout button -->
        <div class="container dashheader">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="dashbutton">Logout</button>
            </form>
        </div>
        <div class="subtitle">
            <h1>Admin Dashboard</h1>
        </div>
    </div>

    <!-- list of all bookings -->
    <div class="dashcontent">
        <div>Click the button to view all bookings</div>
        <form th:action="@{/bookingview}" method="get">
            <button type="submit" class="dashbutton">View Bookings</button>
        </form><br><br>

    </div>

    <h1>Upload/Delete Photos</h1>
    <!-- upload photo form -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*" />
        <button type="submit">Upload Photo</button>
    </form>

    <!-- delete photo form -->
    <form action="/delete" method="post">
        <input type="hidden" name="photo_id" value="YOUR_PHOTO_ID_HERE" />
        <button type="submit">Delete Photo</button>
    </form>

</body>

</html>
