<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>OWNER Dashboard</title>
    <link rel="stylesheet" href="../stylesheets/styles.css">

</head>

<body>

    <div class="">
        <!-- logout button -->
        <div class="container dashheader">
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="dashbutton">Logout</button>
            </form>
            <form th:action="@{/admin/manageInstructors}" method="get">
                <button type="submit" class="dashbutton">Manage Instructors</button>
            </form>
        </div>
        <div class="subtitle">
            <h1>Admin Dashboard</h1>
        </div>
    </div>

    <!-- list of all bookings -->
    <div class="dashcontent">
        <div>Click the button to view all bookings</div>
        <form th:action="@{/user/bookingview}" method="get">
            <button type="submit" class="dashbutton">View Bookings</button>
        </form><br><br>

    </div>

</body>

</html>
