<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h1>Owner Reviews</h1>
    </nav>
    <div th:each="review : ${reviews}">
        <form action="/admin/reviews" method="post">
            <p><span th:text="${'Name: '+ review.first_name + ' ' + review.last_name}"></span></p>
            <p><span th:text="${'The Number of Stars: ' +review.stars}"></span></p>
            <p><span th:text="${'Review: '+ review.feedback}"></span></p>
            <input type="hidden" th:name="rid" th:value="${review.rid}">
            <select name="display_review" id="display_review">
                <option value="">Select</option>
                <option value="Remove">Remove Review</option>
                <option value="show">Show Review</option>
            </select>
            <input type="submit">
        </form>
     </div> 

    <footer></footer>
    
</body>
</html>
