<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Request</title>
</head>

<body>
    <div>
        <div th:each="user:${data}">
            <div style="border-color: black; border: 2px solid; margin-bottom: 5%;">

                <form action="/confirm" method="post" style="display: inline-block;">

                    <span th:text="${user.name}"></span> <br>
                    <span th:text="${user.email}"></span> <br>
                    <span th:text="${user.phoneNumber}"></span> <br>
                    <span th:text="${user.time}"></span> <br>
                    <input th:value="${user.sid}" style="display: none;" name="ID" id="ID"></input>
                    <input type="submit" value="confirm">
                </form>
                <form action="/deny" method="post" style="display: inline-block; margin-left: -3%;">
               
                    <button>reject</button>
                    <input th:value="${user.sid}" style="display: none;" name="ID" id="ID"></input>
                </form>


            </div>
        </div>
    </div>
</body>

</html>