body {
    margin: 0;
    line-height: normal;
    }

:root {
    /* fonts */
    --font-inter: Inter;

    /* font sizes */
    --font-size-3xl-7: 22.7px;
    --font-size-lg: 18px;
    --font-size-sm-5: 13.5px;
    --font-size-5xl: 24px;

    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-darkslategray: #2e2e27;

    /* Gaps */
    --gap-xl: 20px;

    /* Paddings */
    --padding-sm: 14px;
    --padding-19xl: 38px;
    --padding-xl: 20px;
    --padding-3xl: 22px;
    --padding-3xs: 10px;
    --padding-xs: 12px;

    /* Border radiuses */
    --br-9xs: 4px;
    --br-12xs: 1px;
    }

.div-content {
    width: 426px;
    height: 35px;
    position: relative;
    display: none;
    max-width: 100%;
    }
.screenshot-2024-03-08-114801-1 {
    height: 102px;
    width: 223px;
    position: relative;
    object-fit: cover;
    }
.about {
    position: top center;
    letter-spacing: 0.12px;
    line-height: 23.2px;
    }
.link-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    }
.testimonial {
    position: relative;
    letter-spacing: 0.12px;
    line-height: 23.2px;
    }
.e-nbutton, .text-link-about {
    display: flex;
    align-items: flex-start;
    }
.text-link-about {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
    }
.e-nbutton {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    }
.book-appointment-button {
    width: 278px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 5.299999999999997px;
    box-sizing: border-box;
    }
.en {
    width: 26px;
    position: relative;
    font-size: var(--font-size-sm-5);
    letter-spacing: 0.1px;
    line-height: 20.3px;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
    }
.link-button {
    cursor: pointer;
    border: 1.5px solid #919189;
    padding: 5.5px 7px;
    background-color: #002868;
    flex: 1;
    border-radius: var(--br-12xs);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
    }
.link-button:hover {
    background-color: #335c9c;
    border: 1.5px solid #787870;
    box-sizing: border-box;
    }
.cn {
    margin-top: -5px;
    height: 42px;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20.3px;
    display: flex;
    align-items: center;
  }
  .link-button1 {
    height: 32px;
    border-radius: var(--br-12xs);
    background-color: #fa2b2b;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    padding: 0 7.5px;
    box-sizing: border-box;
    mix-blend-mode: normal;
  }
  .focus-driving-school-label,
  .footer-frame,
  .link-button1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .focus-driving-school-label {
    align-self: stretch;
    flex-direction: row;
    gap: 0 2px;
  }
  .footer-frame {
    height: 37.7px;
    width: 98px;
    flex-direction: column;
    padding: 0 var(--padding-3xs) 0 0;
    box-sizing: border-box;
  }
  .log-in {
    position: relative;
    font-size: 20px;
    letter-spacing: 0.1px;
    line-height: 20.3px;
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
  }
  .button-sign-in-button {
    cursor: pointer;
    border: 1px solid var(--color-darkslategray);
    padding: 11px 13px 12.700000000000005px var(--padding-xs);
    background-color: transparent;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .button-sign-in-button:hover {
    background-color: rgba(97, 97, 89, 0.09);
    border: 1px solid #616159;
    box-sizing: border-box;
  }
  .book-appointment-now {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 20.3px;
    font-family: var(--font-inter);
    color: var(--color-white);
    text-align: left;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .button-form-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-xs) 8px 11.700000000000005px var(--padding-sm);
    background-color: #8f1f13;
    border-radius: var(--br-9xs);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    mix-blend-mode: normal;
    white-space: nowrap;
  }
  .button-form-button:hover {
    background-color: #b54538;
  }
  .log-in-button,
  .login-form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    max-width: 100%;
  }
  .login-form {
    justify-content: flex-start;
    gap: 0 8px;
    font-size: var(--font-size-sm-5);
    color: #f7f714;
  }
  .log-in-button {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .frame-testimonial,
  .screenshot-frame {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-testimonial {
    width: 800.5px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 0 0;
    box-sizing: border-box;
  }
  .screenshot-frame {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .focus-driving-school1 {
    position: relative;
    letter-spacing: -1.28px;
    line-height: 73.6px;
  }
  .focus-driving-school {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-3xs);
    box-sizing: border-box;
    max-width: 100%;
  }
  .navigate-the-road,
  .success-with-our {
    margin: 0;
    white-space: pre-wrap;
  }
  .navigate-the-road-container {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: 48px;
    letter-spacing: -1.28px;
    line-height: 73.6px;
    font-weight: 400;
    font-family: inherit;
  }
  .contact-text,
  .footer-frame1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .contact-text {
    flex: 1;
    flex-direction: column;
  }
  .footer-frame1 {
    width: 969px;
    flex-direction: row;
    padding: 0 44px;
    box-sizing: border-box;
    font-size: 60.9px;
  }
  .blank-line,
  .focus-driving-school2,
  .focus-driving-school3,
  .shaping-safe-and,
  .switch-instructors-until,
  .their-learning-style {
    margin: 0;
  }
  .description {
    height: 383px;
    position: relative;
    letter-spacing: 0.18px;
    line-height: 34.8px;
    display: flex;
    align-items: center;
  }
  .right-reserved-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 17px;
    box-sizing: border-box;
    min-width: 445px;
    max-width: 100%;
  }
  .image-2-icon {
    height: 446px;
    width: 446px;
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
  .contact-us-message {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 33px;
    box-sizing: border-box;
    gap: 0 100px;
    max-width: 100%;
    text-align: center;
  }
  .contact-us-by,
  .driving-school-all {
    position: relative;
    letter-spacing: 0.18px;
    line-height: 34.8px;
  }
  .navigate-the-road-to-success-l {
    width: 650px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    color: #d06517;
  }
  .book-appointment-info-text,
  .frame-contact-form,
  .navigate-the-road-to-success-l {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .book-appointment-info-text {
    flex-direction: column;
    justify-content: flex-start;
    gap: 21px 0;
  }
  .frame-contact-form {
    width: 1175px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .contact-frame {
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 31px 0;
    max-width: 100%;
  }
  .body,
  .contact-frame,
  .contact-image,
  .main {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .contact-image {
    width: 1384px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 76.5px 0 76px;
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-3xl-7);
    color: var(--color-darkslategray);
    font-family: var(--font-inter);
  }
  .body,
  .main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;

  }
  .body {
    margin: 0;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px 28px 23px var(--padding-sm);
    gap: 29px 0;
    mix-blend-mode: normal;
    max-width: 100%;
  }
  .main {
    height: 1024px;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .image-2-icon {
      flex: 1;
    }
    .contact-us-message {
      flex-wrap: wrap;
    }
    .contact-image {
      padding-left: var(--padding-19xl);
      padding-right: var(--padding-19xl);
      box-sizing: border-box;
    }
    .main {
      height: auto;
      min-height: 1024;
    }
  }
  @media screen and (max-width: 1050px) {
    .e-nbutton {
      display: none;
    }
    .book-appointment-button {
      width: 0;
    }
    .focus-driving-school1 {
      font-size: 49px;
      line-height: 59px;
    }
    .navigate-the-road-container {
      font-size: 38px;
      line-height: 59px;
    }
    .footer-frame1 {
      padding-left: var(--padding-3xl);
      padding-right: var(--padding-3xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {
    .right-reserved-text {
      min-width: 100%;
    }
    .contact-us-message {
      gap: 0 50px;
    }
    .contact-frame {
      gap: 15px 0;
    }
  }
  @media screen and (max-width: 450px) {
    .login-form {
      display: none;
    }
    .focus-driving-school1 {
      font-size: 37px;
      line-height: 44px;
    }
    .navigate-the-road-container {
      font-size: 29px;
      line-height: 44px;
    }
    .description {
      font-size: var(--font-size-lg);
      line-height: 28px;
    }
    .contact-us-message {
      gap: 0 25px;
    }
    .contact-us-by,
    .driving-school-all {
      font-size: var(--font-size-lg);
      line-height: 28px;
    }
  }
  @media screen and (max-width: 750px) {
    .body {
        padding: 20px 10px;
    }
  }
  @media screen and (max-width: 1050px) {
    .frame-testimonial {
        width: 100%;
        max-width: 600px; /* Set maximum width for .frame-testimonial */
    }
}